---
import "../styles/global.css"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---


<Header />
<h1> Welcome to the High Seas</h1>
<p> This is a quick little information page for Hack Club's High Seas event.</p>


<br>

<h1>So... What is it?</h1>
<p> High seas is an event where you code projects, ship them out, and get free stuff (in essence.)</p>
<h1> Test! </h1>
{/* TODO: actully put more stuff here.. i guess. */}
<Footer />
