



<nav class="mainnav">
  <ol>
    <li class="nav-item"><a href="https://github.com/fluxc0/wisdhcsite">Source</a></li>
    <li class="nav-item"><a href="https://weatherfordisd.com">WISD site</a></li>
    <li class="nav-item"><a href="https://hackclub.com">Hackclub</a></li>
  </ol>

</nav>
